<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="publicSMSKey" value="fb62bc2d88f9834439384c5a475dcbdf"/>
    <add key="privateSMSKey" value="e3c41751fb08f9d806f44793518a8a75"/>
  </appSettings>
  <connectionStrings>
    <add name="pnevmotoolsConnectionString" connectionString="Data Source=TIGRIFERUM-PC\SQLEXPRESS;Initial Catalog=pnevmotools;Persist Security Info=True;User ID=sa;Password=tristan65536" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="admin">
    <system.web>
      <authorization>
        <allow users="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Forms">
      <forms timeout="5000" loginUrl="AdminLoginPage.aspx" defaultUrl="Admin/Default.aspx">
        <credentials passwordFormat="Clear" lockItem="true">
          <user name="Administrator" password="edmonton"/>
        </credentials>
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DailyInfoSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx" binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap" contract="CurrencyService.DailyInfoSoap" name="DailyInfoSoap"/>
    </client>
  </system.serviceModel>
</configuration>