<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="login" value="alfred8@yandex.ru" />
    <add key="password" value="tristan65536" />
    <add key="usertemplate" value="Заказ N{orderNum} принят. В ближайшее время менеджер свяжется с Вами." />
    <add key="admintemplate" value="Поступил заказ №{orderNum} на {price} р." />
    <add key="sender" value="VALMEX.RU" />
    <add key="adminphones" value="79281422207" />
  </appSettings>
</configuration>
